<table mat-table
       [dataSource]="dataSource()"
       cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)"
       class="mat-elevation-z8">
  @for (col of displayedColumns(); track col) {
    <ng-container [matColumnDef]="col">
      <th mat-header-cell
          cdkDrag
          [cdkDragDisabled]="!columnDefinition(col)?.draggable"
          *matHeaderCellDef>
        <table-header-cell [headerKey]="columnDefinition(col)?.headerKey || ''"
                           [renderComponent]="columnDefinition(col)?.headerRenderComponent || defaultHeaderCellRenderer"
                           [headerValueResolver]="headerValueResolver()"/>
        @if (columnDefinition(col)?.sort) {
          <kdr-sort-header [direction]="getSortDirection(col)"
                           (sortChange)="onColumnSort(col, $event)"/>
        }
      </th>
      <td mat-cell *matCellDef="let element">
        <table-cell [row]="element"
                    [field]="col"
                    [renderComponent]="columnDefinition(col)?.cellRenderComponent || defaultCellRenderer"/>
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
</table>
