<table mat-table
       [dataSource]="dataSource()"
       [multiTemplateDataRows]="!!expansionComponent()"
       cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)"
       class="mat-elevation-z8">

  @for(colDef of leadingActionColumnDefinitions(); track colDef) {
    <ng-container [matColumnDef]="colDef.columnId">
      <th mat-header-cell *matHeaderCellDef>
        <table-action-header-cell [renderComponent]="colDef.headerCellRenderComponent"/>
      </th>
      <td mat-cell *matCellDef="let element">
        <table-action-cell [row]="element"
                           [rowIdField]="colDef.rowIdField"
                           [renderComponent]="colDef.cellRenderComponent"/>
      </td>
    </ng-container>
  }

  @for (col of displayedColumns(); track col) {
    <ng-container [matColumnDef]="col">
      <th mat-header-cell
          cdkDrag
          [cdkDragDisabled]="!columnDefinition(col)?.draggable"
          *matHeaderCellDef>
        <table-header-cell [headerKey]="columnDefinition(col)?.headerKey || ''"
                           [renderComponent]="columnDefinition(col)?.headerRenderComponent || defaultHeaderCellRenderer"
                           [headerValueResolver]="headerValueResolver()"/>
        @if (columnDefinition(col)?.sort) {
          <kdr-sort-header [columnId]="columnDefinition(col)?.sort?.alternateColumnId ?? col"
                           [priority]="columnDefinition(col)?.sort?.priority"/>
        }
      </th>
      <td mat-cell *matCellDef="let element">
        <table-cell [row]="element"
                    [field]="col"
                    [renderComponent]="columnDefinition(col)?.cellRenderComponent || defaultCellRenderer"/>
      </td>
    </ng-container>
  }

  @if (expansionComponent()) {
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="allColumns().length">
        <div class="expansion-detail-wrapper" [class.expansion-detail-wrapper--expanded]="isExpanded(element)">
          <div class="expansion-detail-content">
            <table-expansion-row-cell
              [row]="element"
              [renderComponent]="expansionComponent()"/>
          </div>
        </div>
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="allColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: allColumns();" [class.row-expanded]="isExpanded(row)"></tr>
  @if (expansionComponent()) {
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="expansion-row"
        [class.expansion-row--expanded]="isExpanded(row)"></tr>
  }
</table>
